body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 20px;
}

/* Chat container */
.ex {
  width: 90%;
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

/* Input area */
input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
}

/* Send button (green) */
button {
  padding: 10px 15px;
  background: #28a745;   /* green */
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #218838;
}

 /* Chat message row */
.chat-row {
  display: flex;
  align-items: center;         /* Image + text in same line */
  margin: 12px 0;
  width:100%;
}

/* User messages → left side */
.user{
  justify-content: flex-end;
}

/* Robot messages → right side */
.robot {
  justify-content: flex-start;
}

/* Message bubble */
.bubble {
  background: #e6e6e6;         /* Light grey */
  padding: 10px 15px;
  border-radius: 12px;
  font-size: 15px;
  max-width: 65%;
  margin: 0 10px;
  display: inline-block;
}

/* Avatar images */
.chat-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
